// Panels
$panel-default-heading-bg: #fff;
//颜色主题配置
$white: #fff;
$light-white: #f7f7f7;
$silver: #eff2f7;

/*********蓝色************/

$primary: #132547;
$light-primary: #E7E9EC;
$blue: #1890FF;
$light-blue: #1FB8F2;

$dark-madison:#283852;
/**********黑灰色************/
$light-dark: #808080;
$dark: #333333;
$darker: #34314c;

$font-gray: #5f646e;

$bg-gray: #F5F7FA;
$bg-light-gray:#FCFCFC;

$bg-dark:#4a5260;

$border-darker: #c9c9c9;
$border-gray: #E7E9EC;
$font-gray:#ACB3D4;
$light-gray: #f9f9f9;
$gray: #DDDDDD;
$gray-darker: #C5C5C5;
/*********安全色************/
$green: #52C41A;
$success:#52C41A;
$light-green: #81FBB8;
/***********红色*************/
$red: #FF4D4F;
$light-red: #F25355;
$red-darker: #D53642;
$lighter-yellow: #ffe0b2;
$pink: #ef5285;
$light-pink: #fec8c9;
$light-purple: #a593e0;
$purple: #8E24AA;
$gray-purple: #c89ec5;
/*********橙黄色*********/
$warning: #FAAD14;  
$orange: #FF7043;
$light-warning:#FFF5E7;